<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <az2009_cielo_core>
                <title>Cielo - Core</title>
                <model>Az2009\Cielo\Model\Method\Dummy</model>
                <active>0</active>
                <sort_order>0</sort_order>
                <uri_request_stage>https://apisandbox.cieloecommerce.cielo.com.br/1/sales/</uri_request_stage>
                <uri_query_stage>https://apiquerysandbox.cieloecommerce.cielo.com.br/1/sales/</uri_query_stage>
                <uri_request_production>https://api.cieloecommerce.cielo.com.br/1/sales/</uri_request_production>
                <uri_query_production>https://apiquery.cieloecommerce.cielo.com.br/1/sales/</uri_query_production>
                <mode>stage</mode>
                <debug>0</debug>
            </az2009_cielo_core>
            <az2009_cielo>
                <active>0</active>
                <model>Az2009\Cielo\Model\Method\Cc\Cc</model>
                <order_status>pending</order_status>
                <title>Credit Card Cielo</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <billing_description>Billing Description</billing_description>
                <can_save_cc>0</can_save_cc>
                <payment_action>authorize_capture</payment_action>
                <cctypes>AE,VI,MC,DI,JCB,DN,ELO,HIC</cctypes>
                <allowspecific>0</allowspecific>
            </az2009_cielo>
            <az2009_cielo_bank_slip>
                <active>0</active>
                <model>Az2009\Cielo\Model\Method\BankSlip\BankSlip</model>
                <order_status>pending</order_status>
                <title>Bank Slip Cielo</title>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <sort_order>2</sort_order>
                <payment_action>authorize</payment_action>
                <provider>Bradesco2</provider>
                <additional_days>3</additional_days>
                <boleto_number>123</boleto_number>
                <demonstrative>Demonstrative Info</demonstrative>
                <assignor>Assignor Name</assignor>
                <assignor_address>Assignor Address Info</assignor_address>
                <instructions>Instructions Info</instructions>
                <allowspecific>0</allowspecific>
            </az2009_cielo_bank_slip>
            <az2009_cielo_dc>
                <active>0</active>
                <model>Az2009\Cielo\Model\Method\Dc\Dc</model>
                <order_status>pending</order_status>
                <title>Debit Card Cielo</title>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <sort_order>2</sort_order>
                <payment_action>authorize</payment_action>
                <cctypes>VI,MC</cctypes>
                <allowspecific>0</allowspecific>
            </az2009_cielo_dc>
        </payment>
    </default>
</config>
