<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<fieldset data-bind="style: {display: getMethodCurrent() == getCode() ? 'block' : 'none'}, attr: {class: 'checkout-payment-method fieldset payment items ccard admin__fieldset payment-method' + getCode(), id: 'payment_form_' + getCode()}">
    <div class="field type brandCard">
        <div class="control">
            <ul class="credit-card-types">
                <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
                <li class="item" data-bind="css: {
                                                     _active: $parent.selectedCardType() == item.type,
                                                     _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item.type
                                                     } ">
                    <!--ko if: $parent.getIcons(item.type) -->
                    <img data-bind="attr: {
                            'src': $parent.getIcons(item.type).url,
                            'width': $parent.getIcons(item.type).width,
                            'height': $parent.getIcons(item.type).height
                            }">
                    <!--/ko-->
                </li>
                <!--/ko-->
            </ul>
            <input type="hidden"
                   name="payment[cc_type]"
                   class="input-text"
                   data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                       value: creditCardType"
                   value="">
        </div>
    </div>
    <div class="boxNewCard">
        <div class="field number required">
            <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
                <span><!-- ko i18n: 'Número do Cartão'--><!-- /ko --></span>
            </label>
            <div class="control">
                <input type="number" name="payment[cc_number]" class="input-text fluid" value=""
                       data-validate='{
                           "required-number":true
                       }'

                       data-bind="
                        autocomplete: off,
                        value: creditCardNumber,
                        valueUpdate: 'keyup',
                        event: {blur: validateCreditCard },
                        attr: {'data-validate': JSON.stringify({'required-number':true, required:true}), id: getCode() + '_cc_number'}
                        " />
            </div>
        </div>
        <div class="field name required">
            <label data-bind="attr: {for: getCode() + '_cc_name'}" class="label">
                <span><!-- ko i18n: 'Nome do titular'--><!-- /ko --></span>
            </label>
            <div class="control">
                <input type="text" name="payment[cc_name]" class="input-text fluid" value=""
                       data-bind="attr: {'data-validate': JSON.stringify({required:true})}, value: creditCardName, valueUpdate: 'keyup'"
                />
            </div>
        </div>
        <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
            <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
                <span><!-- ko i18n: 'Data de Vencimento'--><!-- /ko --></span>
            </label>
            <div class="control">
                <div class="fields group group-2">
                    <div class="field no-label month">
                        <div class="control">
                            <select class="select select-month"
                                    name="payment[cc_exp_month]"
                                    data-bind="attr: {autocomplete: off, 'data-validate': JSON.stringify({required:true})},
                                              value: creditCardExpMonth, valueUpdate: 'keyup'"
                            >
                                <option class="item" data-bind="attr: {'value': '', 'label': $t('Month')}"></option>
                                <!-- ko foreach: {data: getExpMonth(), as: 'month'} -->
                                <option class="item" data-bind="attr: {'value': month.key, 'label': month.value}"></option>
                                <!-- /ko -->

                            </select>
                            <select class="select select-year"
                                    name="payment[cc_exp_year]"
                                    data-bind="attr: {'data-validate': JSON.stringify({required:true})}, value: creditCardExpYear, valueUpdate: 'keyup'">
                                <option class="item" data-bind="attr: {'value': '', 'label': $t('Year')}"></option>
                                <!-- ko foreach: {data: getExpYear(), as: 'year'} -->
                                <option class="item" data-bind="attr: {'value': year.key, 'label': year.value}"></option>
                                <!-- /ko -->

                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
        <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
            <span><!-- ko i18n: 'Code Security NUmber'--><!-- /ko --></span>
        </label>
        <div>
            <input type="number"
                   autocomplete="off"
                   class="input-text cvv required-entry"
                   name="payment[cc_cid]"
                   max="9999"
                   value=""
                   data-bind="attr: {'data-validate': JSON.stringify({required:true})}, value: creditCardCid, valueUpdate: 'keyup'"
            />
            <!--ko if: hasInstallments()-->
            <div class="field" data-bind="attr: {id: getCode() + '_cc_installments_div'}">
                <label data-bind="attr: {for: getCode() + '_installments'}" class="label">
                    <span><!-- ko i18n: 'Installments'--><!-- /ko --></span>
                </label>
                <div class="control">
                    <select data-bind="attr: {'id': 'cc_installments'}, value: creditCardInstallments" name="payment[cc_installments]">
                        <!-- ko foreach: {data: getInstallments(), as: 'installment'} -->
                        <option class="item" data-bind="attr: {'value': installment.key, 'label':installment.value }"></option>
                        <!--/ko-->
                    </select>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</fieldset>