<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
    <div class="field type brandCard" data-bind="style: {display: isShow() ? 'block' : 'none'}">
        <div>
            <ul class="credit-card-types">
                <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
                <li class="item" data-bind="css: {
                                                     _active: $parent.selectedCardType() == item.type,
                                                     _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item.type
                                                     } ">
                    <!--ko if: $parent.getIcons(item.type) -->
                    <img data-bind="attr: {
                            'src': $parent.getIcons(item.type).url,
                            'width': $parent.getIcons(item.type).width,
                            'height': $parent.getIcons(item.type).height
                            }">
                    <!--/ko-->
                </li>
                <!--/ko-->
            </ul>
            <input type="hidden"
                   name="payment[cc_type]"
                   class="input-text"
                   data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                       value: creditCardType"
                   value="">
        </div>
    </div>
    <!--ko if: hasCardSave()-->
    <div class="field type max-width-50">
        <div class="control">
            <label class="label">
                <span><!-- ko i18n: 'Select The Credit Card'--><!-- /ko --></span>
            </label>
            <select name="payment[cc_token]" id="cc_token" class="credit-card-types" data-bind="value:creditCardSave">
                <option class="item" data-bind="attr: {'value': '', 'label': ''}"></option>
                <option class="item" data-bind="attr: {'value': 'new', 'label': $t('Add new Credit Card')}"></option>
                <!-- ko foreach: {data: getCardSaveValues(), as: 'item'} -->
                <option class="item" data-bind="attr: {'value': item.value, 'data-type':item.type.brand, 'label': item.type.last_four }"></option>
                <!--/ko-->
            </select>
        </div>
    </div>
    <!--/ko-->
    <div class="boxNewCard max-width-50" data-bind="style: {display: isShow() ? 'block' : 'none'}">
        <div class="field number required">
            <div class="control">
                <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
                    <span><!-- ko i18n: 'Número do Cartão'--><!-- /ko --></span>
                </label>
                <input type="number" name="payment[cc_number]" class="input-text cc_number" value=""
                       data-bind="
                        autocomplete: off,
                        value: creditCardNumber,
                        valueUpdate: 'keyup',
                        attr: {'data-validate': JSON.stringify({'required-number':true, required:true})}
                        " />
            </div>
        </div>
        <div class="field name required">
            <div class="control">
                <label data-bind="attr: {for: getCode() + '_cc_name'}" class="label">
                    <span><!-- ko i18n: 'Nome do titular'--><!-- /ko --></span>
                </label>
                <input type="text" name="payment[cc_name]" class="input-text" value=""
                       data-bind="attr: {'data-validate': JSON.stringify({required:true})}, value: creditCardName, valueUpdate: 'keyup'"
                />
            </div>
        </div>
    </div>

    <div class="box-date-due-cvv max-width-50">
        <div class="boxNewCard box-f" data-bind="style: {display: isShow() ? 'block' : 'none'}">
            <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
                <div class="control">
                    <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
                        <span><!-- ko i18n: 'Data de Vencimento'--><!-- /ko --></span>
                    </label>
                    <div class="fields group group-2">
                        <div class="field no-label month">
                            <div class="control">
                                <input type="number"
                                       name="payment[cc_exp_month]"
                                       max="2"
                                       data-bind="attr: {autocomplete: off, 'data-validate': JSON.stringify({required:true})},
                                                  value: creditCardExpMonth, valueUpdate: 'keyup'"
                                       class="select select-month">
                                <input type="number" name="payment[cc_exp_year]" class="select select-year" max="4"
                                       data-bind="attr: {'data-validate': JSON.stringify({required:true})}, value: creditCardExpYear, valueUpdate: 'keyup'"
                                >
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="field cvv required box-f" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}" data-bind="style: {display: isShow() ? 'block' : 'none'}">
            <div class="control">
                <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
                    <span><!-- ko i18n: 'Code Security NUmber'--><!-- /ko --></span>
                </label>
                <div>
                    <input type="number"
                           autocomplete="off"
                           class="input-text cvv required-entry"
                           name="payment[cc_cid]"
                           max="5"
                           value=""
                           data-bind="attr: {'data-validate': JSON.stringify({required:true})}, value: creditCardCid, valueUpdate: 'keyup'"
                    />
                </div>
            </div>
        </div>
    </div>

    <!--ko if: hasInstallments()-->
    <div class="field max-width-50" data-bind="attr: {id: getCode() + '_cc_installments_div'}">
        <div class="control">
            <label data-bind="attr: {for: getCode() + '_installments'}" class="label">
                <span><!-- ko i18n: 'Installments'--><!-- /ko --></span>
            </label>
            <select data-bind="attr: {'id': 'cc_installments'}, value: creditCardInstallments" name="payment[cc_installments]">
                <!-- ko foreach: {data: getInstallments(), as: 'installment'} -->
                <option class="item" data-bind="attr: {'value': installment.key, 'label':installment.value }"></option>
                <!--/ko-->
            </select>
        </div>
    </div>
    <!-- /ko -->
</fieldset>