<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
    <legend>
        <label class="label">
            <span><!-- ko i18n: 'Select The Credit Card'--><!-- /ko --></span>
        </label>
    </legend><br />

    <div class="field type">
        <div class="control">
            <select name="" class="credit-card-types">
                <!-- ko foreach: {data: getCardSaveValues(), as: 'item'} -->
                <option class="item" data-bind="attr: {'value': item.value, 'label':item.type }"></option>
                <!--/ko-->
            </select>
        </div>

    <legend>
        <label class="label">
            <span><!-- ko i18n: 'Credit Card Information'--><!-- /ko --></span>
        </label>
    </legend><br />
    <div class="field type">
        <div class="control">
            <ul class="credit-card-types">
                <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
                <li class="item" data-bind="css: {
                                                 _active: $parent.selectedCardType() == item.type,
                                                 _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item.type
                                                 } ">
                    <!--ko if: $parent.getIcons(item.type) -->
                    <img data-bind="attr: {
                        'src': $parent.getIcons(item.type).url,
                        'width': $parent.getIcons(item.type).width,
                        'height': $parent.getIcons(item.type).height
                        }">
                    <!--/ko-->
                </li>
                <!--/ko-->
            </ul>
            <input type="hidden"
                   name="payment[cc_type]"
                   class="input-text"
                   data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                   value: creditCardType"
                   value="">
        </div>
    </div>
    <div class="field number required">
        <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
            <span><!-- ko i18n: 'Número do Cartão'--><!-- /ko --></span>
        </label>
        <div class="control">
            <input type="number" name="payment[cc_number]" class="input-text" value=""
                   data-bind="
                    autocomplete: off,
                    value: creditCardNumber,
                    valueUpdate: 'keyup',
                    attr: {'data-validate': JSON.stringify({'required-number':true, required:true})}
                    " />
        </div>
    </div>
    <div class="field name required">
        <label data-bind="attr: {for: getCode() + '_cc_name'}" class="label">
            <span><!-- ko i18n: 'Nome do titular'--><!-- /ko --></span>
        </label>
        <div class="control">
            <input type="text" name="payment[cc_name]" class="input-text" value=""
                   data-bind="attr: {'data-validate': JSON.stringify({required:true})}, value: creditCardName, valueUpdate: 'keyup'"
            />
        </div>
    </div>
    <div class="field doc required">
        <label data-bind="attr: {for: getCode() + '_cc_doc'}" class="label">
            <span><!-- ko i18n: 'CPF/CNPJ do Titular'--><!-- /ko --></span>
        </label>
        <div class="control">
            <input type="number" name="payment[cc_doc]" class="input-text" max="15" value=""
                   data-bind="
                    value: docNumber,
                    valueUpdate: 'keyup',
                    attr: {'data-validate': JSON.stringify({required:true})}"
            />
            <span data-bind="text: messageValidateDoc"></span>
        </div>
    </div>
    <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
        <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
            <span><!-- ko i18n: 'Data de Vencimento'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">
                        <input type="number"
                               name="payment[cc_exp_month]"
                               max="2"
                               data-bind="attr: {autocomplete: off, 'data-validate': JSON.stringify({required:true})},
                                          value: creditCardExpMonth, valueUpdate: 'keyup'"
                               class="select select-month">
                    </div>
                </div>
                <div class="field no-label year">
                    <div class="control">
                        <input type="number" name="payment[cc_exp_year]" class="select select-year" max="4"
                               data-bind="attr: {'data-validate': JSON.stringify({required:true})}, value: creditCardExpYear, valueUpdate: 'keyup'"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
        <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
            <span><!-- ko i18n: 'Código de segurança'--><!-- /ko --></span>
        </label>
        <div class="control _with-tooltip">
            <input type="number"
                   autocomplete="off"
                   class="input-text cvv required-entry"
                   name="payment[cc_cid]"
                   max="5"
                   value=""
                   data-bind="attr: {'data-validate': JSON.stringify({required:true})}, value: creditCardCid, valueUpdate: 'keyup'"
                   />
            <div class="field-tooltip toggle">
                <span class="field-tooltip-action action-cvv"
                      tabindex="0"
                      data-toggle="dropdown"
                      data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                    <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                </span>
                <div class="field-tooltip-content"></div>
            </div>
        </div>
    </div>
</fieldset>
<script type="text/javascript">
    var viewModel = {
        // These are the initial options
        availableCountries: ko.observableArray(['France', 'Germany', 'Spain'])
    };

    // ... then later ...
    viewModel.availableCountries.push('China'); // Adds another option
</script>